{% extends 'shared/layout.html' %}

{% block maincontent %}

<!-- Title -->



<!-- Project content -->
<div class="content-row">
    <div class="left-column">
        <!-- Image -->
        <img src="../static/main/images/piano.jpg" alt="Piano image" loading="lazy">
    </div>
    <div class="right-column">
        <!-- Project description -->
        <h1 class="project-name">Javascript Piano</h1><br>
        As part of my first Homework assignment in CSE477, I developed an interactive piano build in pure HTML, CSS and Javascript. This tool (in addition to my webpage) highlighted my ability to build beautiful and mobile-friendly front-end applications.
        <a href="/piano" title="Owen's piano">Click here to see and play!</a>
    </div>
</div>
<div class="more-center"><br><hr><br></div>
<div class="content-row">
    <div class="left-column">
        <!-- Image -->
        <img src="../static/main/images/calculator.png" alt="Math image" loading="lazy">
    </div>
    <div class="right-column">
        <!-- Project description -->
        <h1 class="project-name">JavaScript Calculator</h1><br>
        As a side project of mine, I decided to build a mini calculator without using libraries.
        <a href="https://onwyee.github.io/calc-web/" title="Owen's Calc">Click here to use</a>
    </div>
</div>

<!-- Placeholder for more content -->
<div class="more-center"><br><hr><br>More coming soon!<br><br></div>
{% endblock %}
