main {
    height: 50vh;
}

.left-column {
    padding: 5%;
    margin:0;
    background: #000000;
}
.right-column {
    padding: 5%;
    margin: 0;
    background: #404040;
}

.right-column input[type="text"], input[type="email"] {
    font-size: 1.2em;
    width: 95%;
}

#message {
    width: 95%;
}

h1, h3, h4,h5 {
    padding:1% 0;
    margin:0;
}

#send_id {
    margin: 1% 0;
    width: 5vw;
}